In [ ]:
# GOAL: match columns from different CSVs but similar meanings
# Standardize the column names
# Merge all the CSVs into one master dataset


# Possible Assumptions: is the data always in first, last, email, city, state order?

In [2]:
import pandas as pd

# Data Preprocessing

In [3]:
client1 = pd.read_csv("data/client1.csv")
client1.head()

  FirstName LastName             EmailAddress         City State
0       Ian   Wilson   hannah.wilson@mail.com  Los Angeles    NY
1     Alice    Jones  charlie.wilson@mail.com      Phoenix    IL
2     Fiona   Garcia   george.miller@mail.com     New York    TX
3     Alice    Brown     julia.smith@test.org      Houston    NY
4     Fiona    Davis  diana.williams@mail.com      Chicago    NY

In [4]:
client2 = pd.read_csv("data/client2.csv")
client2.head()

   FName     LName                      Email         Town Province
0    Bob     Brown    diana.smith@example.com      Chicago       NY
1    Ian    Taylor  fiona.johnson@example.com  Los Angeles       CA
2  Fiona    Miller        ian.wilson@mail.com      Phoenix       NY
3  Fiona  Williams       fiona.smith@test.org     New York       AZ
4    Bob     Brown         ian.jones@test.org      Chicago       AZ

In [5]:
client3 = pd.read_csv("data/client3.csv")
client3.head()

  Given_Name   Surname              Contact_Email    City_Name Region
0      Alice     Brown    ethan.williams@test.org      Phoenix     NY
1        Ian    Taylor   diana.wilson@example.com  Los Angeles     TX
2      Alice     Brown  ethan.johnson@example.com      Houston     TX
3      Ethan     Brown      diana.wilson@mail.com      Phoenix     CA
4      Diana  Williams    fiona.jones@example.com      Phoenix     AZ

In [7]:
# matching the column names
client1_col = list(client1.columns)
client2_col = list(client2.columns)
client3_col = list(client3.columns)

# Matching
- rapidfuzz, pandas-dedupe, fuzzywuzzy and levenshtein (Python libraries)

In [17]:
from rapidfuzz import fuzz, process # string matching library (uses levenshtein distance to calculate the similarity between two strings)

In [18]:
print(client1_col)
print(client2_col)
print(client3_col)

# define a standardize naming convention
name_standard = ["first_name", "last_name", "email", "city", "state"]

['FirstName', 'LastName', 'EmailAddress', 'City', 'State']
['FName', 'LName', 'Email', 'Town', 'Province']
['Given_Name', 'Surname', 'Contact_Email', 'City_Name', 'Region']

In [ ]:
# simple test
process.extractOne("first_name", client1_col, scorer=fuzz.WRatio)
# returns: choice (value compared), similarity calculation, the type of choice (choice's index)

('FirstName', 73.6842105263158, 0)

In [33]:
def match_columns(csv_headers : list, standard : list):
    """THINKING:
        go through each value in the standardized column name list, and also all the csv files (so input is csv header as a list)
        do the process.extractOne to each element in the list
    
    """
    print([i for i in csv_headers])  # list size of 3
    print([i for i in standard])  # list size of 5

    for i in csv_headers:  # looking through each csv file (3) 
        for j in standard:   # looking through each standard name (5)
            r = process.extractOne(j, i, scorer=fuzz.WRatio)
            print(f"STANDARD: {j}, MATCH FINDINGS: {r}")

In [34]:
csv_files = [client1_col, client2_col, client3_col]
match_columns(csv_files, name_standard)

[['FirstName', 'LastName', 'EmailAddress', 'City', 'State'], ['FName', 'LName', 'Email', 'Town', 'Province'], ['Given_Name', 'Surname', 'Contact_Email', 'City_Name', 'Region']]
['first_name', 'last_name', 'email', 'city', 'state']
STANDARD: first_name, MATCH FINDINGS: ('FirstName', 73.6842105263158, 0)
STANDARD: last_name, MATCH FINDINGS: ('LastName', 70.58823529411764, 1)
STANDARD: email, MATCH FINDINGS: ('EmailAddress', 72.0, 2)
STANDARD: city, MATCH FINDINGS: ('City', 75.0, 3)
STANDARD: state, MATCH FINDINGS: ('State', 80.0, 4)
STANDARD: first_name, MATCH FINDINGS: ('FName', 67.5, 0)
STANDARD: last_name, MATCH FINDINGS: ('FName', 67.5, 0)
STANDARD: email, MATCH FINDINGS: ('Email', 80.0, 2)
STANDARD: city, MATCH FINDINGS: ('Province', 30.000000000000004, 4)
STANDARD: state, MATCH FINDINGS: ('FName', 40.0, 0)
STANDARD: first_name, MATCH FINDINGS: ('City_Name', 63.1578947368421, 3)
STANDARD: last_name, MATCH FINDINGS: ('City_Name', 55.55555555555556, 3)
STANDARD: email, MATCH FINDINGS: ('Contact_Email', 80.0, 2)
STANDARD: city, MATCH FINDINGS: ('City_Name', 67.5, 3)
STANDARD: state, MATCH FINDINGS: ('Contact_Email', 54.0, 2)

# Combined CSV File